<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "POST"
        Header set Access-Control-Allow-Headers "ms-feedback-data,Accept,OPTIONS"

        #Header add Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval';font-src 'self' data:;img-src 'self' 'unsafe-inline' data:;script-src 'self' 'unsafe-inline';style-src 'self' 'unsafe-inline';style-src-attr 'self' 'unsafe-inline';"
    </IfModule>
    <IfModule dir_module>
        DirectoryIndex index.php index.html
    </IfModule>


    <Files ~ "\.(png|jpe?g|gif|webp)$">
      Header set X-Robots-Tag "noindex"
    </Files>

    #css|
    <Files ~ "\.(png|jpe?g|gif|webp|ttf|otf|eot|woff2?|js|css)$">
      Header set Cache-Control: max-age=31536000
    </Files>


    # RewriteEngine turn on
    RewriteEngine On

    # Handle Authorization Header
    # RewriteCond %{HTTP:Authorization} .
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]


    # Redirect HTTPS [https://www]
    # Prevent me from redirect action
    RewriteCond %{SERVER_NAME} !localhost
    RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1
    RewriteCond %{REMOTE_ADDR} !^::1

    #We replace domain.com/$1 with %{SERVER_NAME}%{REQUEST_URI}.
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*) https://www.%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

    # Redirect HTTPS [https://]
    # Prevent me from redirect action
    RewriteCond %{SERVER_NAME} !localhost
    RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1
    RewriteCond %{REMOTE_ADDR} !^::1

    # Here we dont use www as non www was already redirected to www.
    RewriteCond %{SERVER_PORT} !^443$
    RewriteRule ^(.*) https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]


    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    # Rewrite Conditions set
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond  %{REQUEST_FILENAME} !-l

    # Rewrite Rules set
    # RewriteRule ^ index.php [L]
    #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
    RewriteRule ^ index.php [L]

    # Rewrite /foo/bar to /foo/bar.php
    # RewriteRule ^([^.?]+)$.mfw %{REQUEST_URI} [L]

    #error log file
    ErrorLog "../storages/framework/logs/httpd/error.log"



    #error page setting
#    ErrorDocument 400 /400.shtml
#    ErrorDocument 403 /403.shtml
#    ErrorDocument 404 /404.shtml
#    ErrorDocument 408 /408.shtml
#    ErrorDocument 500 /500.shtml
#    ErrorDocument 503 /503.shtml

</IfModule>