# Dart Lanugage's cache folder
/.dart_tool/

# PHPStorm's cache folder
/.idea/

# Mishusoft Framework associates
/dist-src/
/node_modules/
/tests/
/tmp/
/vendor/
/framework/
/app/
/storages/databases
/storages/framework/cache/
/storages/framework/config/
/storages/framework/sessions/
/storages/framework/*.php
/storages/logs/
/storages/user/


# Runtime cache (with lock) files
#*.lock
#*-lock.json
*.webmanifest
*.cache

.packages
.env
.user.ini


# Linker output
*.map