# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# unnecessary files

/.dart_tool/
/.idea/

/dist-src/
/home/
/Mishusoft/
/task/
/node_modules/
/tmp/
/vendor/
/tests/
/Storages/

composer.lock
package-lock.json
pwa.webmanifest
robots.txt
.user.ini
.phpunit.result.cache
.packages
/Sources/officials/
/Sources/Designs/
/Sources/Assets/js [backup]/
