parameters:
	bootstrapFiles:
		- bootstrap/app.php
		- storages/framework/images.php
		- storages/framework/resolver.php
	tmpDir: tmp
	paths:
		- sources
		- bootstrap
	fileExtensions:
		- php
		- module
		- inc
	level: 7