.ducBoard {
  width: 100%;
  display: inline-block;
  font-size: 15px;
}

.ducBox {
  border-radius: 5px;
  display: inline-block;
}

.ducBox-full {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ducBoxTitle {
  margin: 0;
  padding: 5px 8px;
  font-size: 18px;
  color: white;
  background: #33b5e5;
}

.ducBoxTitle a {
  padding: 0;
  margin: 0;
  color: white;
  display: block;
  text-decoration: none;
}

.ducBoxText {
  padding: 5px 8px;
}

.ducMessageBoardText {
  line-height: 1.35;
}

div#ducMessageBoard {
  padding: 0 10px;
}

.ducInfoBox {
  margin: 1% 4%;
  width: 284px;
  /*height: 150px;
  padding: 5px 8px;*/
}

.ducInfoBoxText {
  line-height: 1.35;
}

.ducConversionsBox {
  margin: 5px 8px;
  width: 98%;
}

.ducConvertersBox {
  margin: 5px 8px;
  width: 98%;
}

.ducTool {
  margin: 3px 5px;
  position: relative;
  display: inline-block;
  transition: 0.2s;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ducToolImage {
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #33b5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
}

.ducToolText {
  height: 30px;
  font-size: 14px;
  /*font-weight: bold;*/
  text-align: center;
  padding: 7px 5px;
  color: #000;
}

.ducToolText a {
  color: #000;
}

.ducToolForConversions {
  width: 133px;
}

.ducToolForConverters {
  width: 115px;
}

.ducToolForConversions, .ducToolForConverters {
  height: 80px;
}

.ducToolImageForConversions, .ducToolImageForConverters {
  height: 50px;
  font-size: 36px;
  padding: 5px;
}

.ducToolForExternal {
  width: 200px;
  height: 95px;
}

.ducToolImageForExternal {
  height: 65px;
  font-size: 28px;
  padding: 8%;
}

.ducConverterPadAreaTitle {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px dotted #ccc;
  width: 100%;
}

.ducConvertPadAreaCaption {
  display: block;
  margin: 5px 0;
}

.ducConverterPadArea {
  background-color: #F9FBE7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 5px 10px;
}

.ducConverterPadArea label {
  display: block;
  margin: 5px 0;
}

.ducConverterPadArea input, select, textarea {
  padding: 0.5em 0.6em;
  margin-right: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.span1 {
  line-height: 2;
}

.span1 a, .span1 a:visited {
  color: #3372df;
  text-decoration: none;
}

.span1 a:hover {
  color: #111;
}

.ducConverterPadResult, .ducConverterPadResultb {
  padding: 10px;
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  background-color: #ffffcf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ducButton, .social {
  margin: 10px 0;
}

.social .ducButton {
  font-size: 85%;
  padding: 5px 8px;
  color: #fff;
  text-shadow: 0 1px 2px #333;
}

.ducButton {
  letter-spacing: 1px;
  border: 0;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  cursor: pointer;
  overflow: visible;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #1f8dd6;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.share-on-facebook {
  background: #3B5997;
}

.share-on-googleplus {
  background: #D64937;
}

.share-on-twitter {
  background: #41B7D8;
}

.graytxt {
  color: #777;
}

.smalltxt {
  font-size: 85%;
}

.shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.comments {
  padding: 10px;
  background-color: #f8f8f8;
}

h4, h5 {
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
}

.comcon {
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
}

.comaut {
  font-weight: 600;
}

.comcon .date {
  color: #555;
  font-size: 85%;
  float: right;
}

.comcon p {
  border-top: 1px dashed #ccc;
  clear: left;
}

p {
  margin: 5px 0 10px;
}

.comments form {
  margin: 15px 0;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form {
  background-color: #F9FBE7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 5px 10px;
}

.form, label {
  display: block;
  margin: 5px 0;
}

.cmtForm {
  border: 0;
}

.cmtFormTitle {
  font-weight: 600;
  border-bottom: 1px dotted #ccc;
  width: 100%;
}

form, label {
  display: block;
  margin: 5px 0;
}

.full-width {
  width: 100%;
}

.cmtMessage {
  background-color: #e3f1d4;
  padding: 10px;
}

@media only screen and (max-width: 450px) {
  .ducToolForExternal {
    width: 250px;
  }

  .ducBox.ducInfoBox.box-shadow-light {
    margin: 1% 10%;
    width: 300px;
  }
}
@media only screen and (min-width: 450px) {
  .ducToolForExternal {
    width: 200px;
  }

  .ducBox.ducInfoBox.box-shadow-light {
    margin: 1% 4%;
    width: 300px;
  }
}
@media only screen and (min-width: 600px) {
  .ducToolForExternal {
    width: 170px;
  }

  .ducToolImageForExternal {
    font-size: 28px;
  }

  .ducBox.ducInfoBox.box-shadow-light {
    margin: 1% 4%;
    width: 250px;
  }
}
@media only screen and (min-width: 768px) {
  a.ducTool.ducToolForConversions.box-shadow-light {
    width: 110px;
  }
}

/*# sourceMappingURL=duc.css.map */
