.web-app-info-box {
  margin-top: 10px;
  color: #000;
  width: 100%;
  /*height: 250px;*/
  display: block;
  /*background: #f7f7f7;*/
  /*position: absolute;*/
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44); }

.web-app-info-box-nav {
  display: block;
  float: left;
  width: 20%;
  text-align: left;
  border-right: 2px solid lightgrey; }

.web-app-info-box-content {
  padding: 5px;
  width: 80%;
  font-family: "Source Sans Pro", Arial, Tahoma, Helvetica, serif;
  text-align: justify;
  display: block;
  /*position: absolute;*/
  background: transparent;
  float: left; }

.web-app-info-box-nav ul {
  list-style: none;
  float: none;
  width: 100%;
  margin: 0;
  padding: 0; }

.web-app-info-box-nav ul li {
  padding: 5px;
  text-align: left;
  background: #53b5e5;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid white; }

.web-app-info-box-nav ul li:last-child {
  border-bottom: none; }

.web-app-info-box-nav ul li:hover {
  cursor: pointer;
  background: #93c; }

.web-app-info-content-overview {
  text-align: center;
  float: none;
  color: #000;
  display: block; }

.web-app-info-content-overview img, .web-app-info-content-media table tbody td:nth-child(4) img {
  width: 100px;
  height: 100px; }

.web-app-info-content-overview a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.web-app-info-content-basic, .web-app-info-content-database, .web-app-info-content-files, .web-app-info-content-media, .web-app-info-content-social {
  display: none; }

.web-app-info-content-basic table, .web-app-info-content-basic table tbody, .web-app-info-content-basic table tbody td {
  padding: 5px !important; }

.web-app-info-content-files {
  display: none; }

.web-app-info-content-files table, .web-app-info-content-files table tbody, .web-app-info-content-files table tbody td {
  padding: 5px !important; }

.web-app-info-content-files table tbody td:first-child {
  width: 116px; }

.web-app-edit-btn {
  color: white !important;
  position: relative;
  right: -200px;
  top: -150px; }

.web-app-edit-btn i {
  color: white !important; }

.web-app-info-content-database table tbody td {
  text-transform: lowercase;
  text-align: left;
  color: black; }

.web-app-info-content-database table thead td, .web-app-info-content-database table tbody td, .web-app-info-content-database table tfoot td {
  font-size: 12px; }

.web-app-info-content-database table thead td, .web-app-info-content-database table tfoot td {
  background: #53b5e5;
  color: white; }

#webapp-table-delete {
  font-size: 10px;
  /*height: 12px;
  width: 12px;*/
  /*text-transform: uppercase !important;*/ }

.web-app-info-content-media table tbody td:first-child {
  width: 60px; }

.web-app-info-content-social table tbody td:first-child {
  width: 80px; }

.web-app-info-content-overview table tbody td:nth-child(2), .web-app-info-content-basic table tbody td:nth-child(2), .web-app-info-content-database table tbody td:nth-child(2), .web-app-info-content-files table tbody td:nth-child(2), .web-app-info-content-media table tbody td:nth-child(2), .web-app-info-content-social table tbody td:nth-child(2) {
  width: 5px; }

.web-app-info-content-media table tbody td:nth-child(4) {
  text-align: center; }

#webappDatabaseEditPAD {
  display: inline-block;
  float: none; }

.web-app-database-command {
  text-align: center;
  display: inline-block; }

.web-app-database-command .upgrade, .restore {
  font-size: 44px;
  font-weight: bold;
  font-family: Saira Stencil One, 'SourceSansPro', 'SolaimanLipi', sans-serif, Arial;
  text-align: center;
  /*width: 100px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 6px;
  color: black;
  cursor: pointer;
  position: relative;
  float: left;
  top: 2%;
  left: 15%;
  transform: translate(0%, 0%);
  border-radius: 5% !important;
  -moz-border-radius: 5% !important;
  -webkit-border-radius: 5% !important; }

.web-app-database-command .upgrade:hover, .restore:hover {
  color: white;
  background: #53b5e5; }

.web-app-database-command .upgrade::selection, .restore::selection {
  color: white;
  background: #53b5e5; }

.web-app-database-command .upgrade + .restore {
  margin-left: 20px !important; }

.web-app-database-output {
  text-align: left;
  margin: 0 64px;
  position: relative; }

#webappLogoEditPAD {
  display: inline-block; }

.web-app-logo-preview, .web-app-logo-output {
  float: left; }

.web-app-logo-preview img {
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44); }

.web-app-logo-output {
  height: 200px;
  width: 395px;
  margin-left: 5px; }

.web-app-logo-output div {
  display: inline-block;
  float: none; }

.web-app-logo-output div #UploadStatusBoard {
  margin: 10px 0;
  height: 70px;
  width: 400px;
  /*border: 2px dashed #53b5e5;*/ }

.upload-logo-zone {
  text-align: center;
  font-family: 'SourceSansPro', 'SolaimanLipi', sans-serif, Arial;
  font-size: 18px;
  height: 120px;
  width: 400px;
  background: white;
  border: 2px dashed #53b5e5;
  display: inline-block; }

.web-app-logo-upload-text {
  top: 35%;
  position: relative; }

.upload-logo-zone input {
  display: none; }

#web-app-social-links-edit thead td, #web-app-social-links-edit tfoot td {
  font-size: 14px;
  text-align: left;
  text-transform: uppercase; }

#web-app-social-links-edit thead td:nth-child(1), #web-app-social-links-edit tbody td:nth-child(1), #web-app-social-links-edit tfoot td:nth-child(1) {
  width: 30px; }

#web-app-social-links-edit thead td:nth-child(2), #web-app-social-links-edit tbody td:nth-child(2), #web-app-social-links-edit tfoot td:nth-child(2) {
  width: 100px; }

#web-app-social-links-edit thead td:nth-child(3), #web-app-social-links-edit tbody td:nth-child(3), #web-app-social-links-edit tfoot td:nth-child(3) {
  text-align: left; }

#web-app-social-links-edit thead td:nth-child(4), #web-app-social-links-edit tbody td:nth-child(4), #web-app-social-links-edit tfoot td:nth-child(4) {
  text-align: center !important;
  width: 80px; }

/*# sourceMappingURL=webapp.css.map */
