/* src/assets/scss/lib.scss */
/*colors*/
/*ranges*/
.input-control {
  width: 100% !important;
  font-size: 15px;
  padding: 10px 15px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}
.input-control:focus, .input-control:active, .input-control:hover {
  background-color: #ffffff;
  border: 1px solid #0777cc;
}

.input-control:disabled, .input-control:disabled:hover {
  color: #ffffff;
  background: #d3d3d3;
  border: 1px solid #d3d3d3;
}

.input-control-padding-low {
  padding: 5px 8px;
}

.input-box-bottom-border-only {
  width: 100%;
  font-size: 15px;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dotted #789;
}

.input-group {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.input-group > div {
  display: table-cell;
  vertical-align: middle;
}

.input-group-icon {
  background: #eee;
  color: #777;
  padding: 0 12px;
}

.input-group-area {
  width: 100%;
}

.input-group input {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.input-group .buttonBox input {
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font: bold 15px/36px Arial, sans-serif;
}

label {
  font-size: 15px;
  font-weight: 400;
}

fieldset {
  margin: 5px 2px;
  font-size: 15px;
  text-align: left;
  padding: 10px 7px;
}

fieldset > legend {
  font-size: 15px;
  padding: 7px 10px;
  /*height: 45px;*/
  font-weight: 700;
}

/*checkmark*/
.input-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.input-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.input-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked ~ .checkmark:after {
  display: block;
}

.input-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.link, .link:active, .link:visited {
  color: #000;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.link:hover {
  color: #93c;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table-xs {
  font-size: 12px;
}

.table-xs a {
  font-size: 12px;
}

.table tfoot tr, .table thead tr {
  background-color: #ddd;
}

.table-condensed, .table-condensed td, .table-condensed th {
  margin: 0;
  padding: 5px;
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #ddd;
}

.table-padding, .table-padding td {
  padding: 5px;
}

.table-bordered-black, .table-bordered-black td, .table-bordered-black th {
  border: 1px solid #000;
}

.table-bottom-border-only th, .table-bottom-border-only tr {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-bottom-border-only tr:last-child {
  border-bottom: none;
}

.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-striped tr:hover {
  background-color: #ddd;
}

.table-bordered th {
  background-color: #4caf50;
  color: #fff;
}

input, select, textarea {
  width: 100%;
  padding: 0.5em 0.6em;
  margin-right: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

.pagination {
  display: inline-block;
}

.pagination > a {
  margin: 2px 4px;
  font-size: 15px;
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

.pagination a.active {
  border-radius: 5px;
  border-style: none;
  background-color: #0777cc;
  color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #d3d3d3;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.action-button {
  color: #000;
  font-size: 15px;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.action-button:hover {
  color: #ffffff;
  background-color: #0777cc;
}

.logo {
  width: 70px;
  height: 60px;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.logo-lg {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0 5px 0 0;
}

.logo-sm {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 5px;
}

.logo-xs {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 5px;
}

.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logo-bordered {
  border: 10px solid #53b5e5;
}

/*# sourceMappingURL=elements.css.map */
