.logo {
  width: 70px;
  height: 60px;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24)
}

.logo-lg {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0 5px 0 0
}

.logo-sm {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 5px
}

.logo-xs {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 5px
}

.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

.logo-bordered {
  border: 10px solid #53b5e5
}