@charset "UTF-8";
.font-size-20 {
  font-size: 20px;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.font-weight-bold {
  font-weight: bold;
}

.ms-icon-computer-personal::after {
  content: "💻";
}
.ms-icon-computer-personal-old::after {
  content: "🖳";
}
.ms-icon-computer-desktop::after {
  content: "🖥";
}
.ms-icon-keyboard-mouse::after {
  content: "🖦";
}
.ms-icon-three-networked-computers::after, .ms-icon-lan::after, .ms-icon-network::after {
  content: "🖦";
}
.ms-icon-printer::after {
  content: "🖨";
}
.ms-icon-pocket-calculator::after {
  content: "🖩";
}
.ms-icon-black-hard-shell-floppy-disk::after {
  content: "🖪";
}
.ms-icon-white-hard-shell-floppy-disk::after {
  content: "🖫";
}

.ms-icon-boy::after {
  content: "👦";
}
.ms-icon-girl::after {
  content: "👧";
}
.ms-icon-man::after {
  content: "👨";
}
.ms-icon-woman::after {
  content: "👩";
}
.ms-icon-family::after {
  content: "👪";
}
.ms-icon-friendship-man-woman::after {
  content: "👫";
}
.ms-icon-friendship-man::after {
  content: "👬";
}
.ms-icon-friendship-women::after {
  content: "👭";
}
.ms-icon-police-officer::after {
  content: "👮";
}
.ms-icon-woman-with-bunny-ears::after {
  content: "👯";
}

/*blocks*/
.ms-icon-aegean-word-separator-line::after {
  content: "𐄀";
}
.ms-icon-aegean-word-separator-dot::after {
  content: "𐄁";
}
.ms-icon-aegean-check-mark::after {
  content: "𐄂";
}
.ms-icon-aegean-number-one::after {
  content: "𐄇";
}
.ms-icon-aegean-number-two::after {
  content: "𐄈";
}
.ms-icon-aegean-number-three::after {
  content: "𐄉";
}
.ms-icon-aegean-number-four::after {
  content: "𐄊";
}
.ms-icon-aegean-number-five::after {
  content: "𐄋";
}
.ms-icon-aegean-number-six::after {
  content: "𐄌";
}
.ms-icon-aegean-number-seven::after {
  content: "𐄍";
}
.ms-icon-aegean-number-eight::after {
  content: "𐄎";
}
.ms-icon-aegean-number-nine::after {
  content: "𐄏";
}

/**
* categories
* ref : https://graphemica.com/categories/
* blocks
* ref : https://graphemica.com/blocks/
*/
.ms-icon {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.ms-icon-exclamation-mark::after {
  content: "!";
}
.ms-icon-quotation-mark::after {
  content: '"';
}
.ms-icon-number-sign::after {
  content: "#";
}
.ms-icon-telephone::after {
  content: "✆";
}
.ms-icon-write::after {
  content: "✍";
}
.ms-icon-victory-hand::after {
  content: "✌";
}
.ms-icon-envelope::after {
  content: "✉";
}
.ms-icon-airplane::after {
  content: "✈";
}
.ms-icon-tape-drive::after {
  content: "✇";
}
.ms-icon-white-scissors::after {
  content: "✄";
}
.ms-icon-black-scissors::after {
  content: "✂";
}
.ms-icon-upper-blade-scissors::after {
  content: "✁";
}
.ms-icon-white-flag-with-horizontal-middle-black-stripe::after {
  content: "⛿";
}
.ms-icon-credit-card::after {
  content: "💳";
}
.ms-icon-mathematical-sans-serif-bold-small-f::after {
  content: "𝗳";
}
.ms-icon-user::after {
  content: "👤";
}
.ms-icon-user-group::after {
  content: "👥";
}
.ms-icon-trash::after {
  content: "🗑";
}
.ms-icon-search::after {
  content: "🔍";
}

/*# sourceMappingURL=common.css.map */
