.navbar1 {
  width: 100%;
  height: 30px;

  color: var(--white);
  background-image: linear-gradient(#000, #808080);

  /*display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: space-between;*/

  & a {
    color: var(--white);
    & i {
      margin-right: 5px;
    }
  }

  &-left-nav {
    width: 60%;
    height: inherit;
    text-align: left;
  }

  &-right-nav {
    width: 40%;
    height: inherit;
    text-align: right;
  }

  &-left-nav a, &-right-nav a, &-right-nav  span {
    height: inherit;
    padding: 5px 8px;
    font-size: 14px;
    display: inline-block;
  }

  &-dropdown {
    cursor: pointer;

    &-content {
      color: var(--white);
      display: none;
      position: absolute;
      background-color: var(--black);
      width: 100px;
      text-align: right;
      /*left: 8px;*/

      -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
      -o-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
      z-index: 1;

      & a {
        /*display: block;*/
        width: 100%;

        &:hover {
          background-color: var(--grey-light);
          color: var(--black);
        }
      }
    }

    &:hover &-content {
      display: block;
    }
  }
}