

//resources section
.resources-header-title{
  padding: 50px;
  font-size: 40px;
  font-weight: bold;
}

.resources-header-description{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 1.5;
}

.resources-body{
  width: 1024px;
  padding-top:20px;
}

.width-text-align {
  width: 100%;text-align: center;
}