$path: '../webfonts/';

// Saira Stencil One font
@font-face {
  font-display: swap;
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Stencil One'),  local('Saira Stencil One'),
  url('#{$path}SairaStencilOne/SairaStencilOne-Regular.eot'),
  url('#{$path}SairaStencilOne/SairaStencilOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$path}SairaStencilOne/SairaStencilOne-Regular.woff2') format('woff2'),
  url('#{$path}SairaStencilOne/SairaStencilOne-Regular.woff') format('woff'),
  url('#{$path}SairaStencilOne/SairaStencilOne-Regular.ttf') format('truetype'),
  url('#{$path}SairaStencilOne/SairaStencilOne-Regular.svg#SairaStencilOne-Regular') format('svg');
}
